:root {
  font-size: 18px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--gray30);
  font-family: "Roboto", sans-serif;
  background: white;
  margin: 0;
  /*writing-mode: vertical-lr;*/
  /*margin-inline: 100px;*/ /*margin: 0 100px*/
  /*margin-block: 100px;*/ /*margin: 100px 0*/
  /*margin-block-start: 50px;*/ /*margin-top: 50px*/
  /*margin-block-end: 50px;*/ /*margin-bottom: 50px*/
  /*font-family: charter;*/
}

a {
  color: var(--gray30);
}

.header {
  /*background: red;
  position: absolute;
  inset: 0;*/
}

.header-content {
  padding-inline: 20px;
}

header {
  margin-block-start: 20px;
  font-size: 14px;
  color: var(--gray30);
}

header nav:first-child {
  margin-block-end: 112px;
}

header nav:first-child ul li {
  margin-block-end: 0px;
}

header ul {
  list-style-type: none;
}

header ul li {
  padding: 8px;
}

header ul li.selected {
  background-color: black;
}

header ul li.selected a {
  color: white;
}

header .nav-variants ul {
  padding-inline-start: 0;
}

header li {
  color: var(--gray20);
  margin-block-end: 16px;
}

header a {
  color: var(--gray20);
  text-decoration: none;
}

header a:hover {
  color: var(--gray30);
}

nav details summary {
  font-weight: bold;
}

/*ol li:nth-child(even) {
  border: 1px solid red;
}*/

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 40px;
  margin-block-start: 16px;
  margin-block-end: 16px;
  /*text-align: start;*/
  /*text-align: end;*/
  /*font-size: 3.75em;*/
}

h2 {
  font-size: 2em;
  margin-block-start: 64px;
  margin-block-end: 40px;
  font-weight: normal;
  /*font-size: 32px;*/
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
  margin-block: 16px;
  /*font-size: 24px;*/
}

hr {
  margin-block: 40px;
  border-color: rgba(97, 97, 97, 0.2);
}

pre {
  background: #fec62e;
  padding: 40px;
  font-family: "Roboto";
  line-height: 24px;
}

p {
  color: var(--gray20);
}

.hero {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url("./../images/patron.png");
  block-size: 50px;
}

.section-content img {
  margin-block-start: 40px;
  margin-block-end: 1em;
  display: block;
  max-inline-size: 100%; /*max-width: 100%*/
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
  display: inline-block;
}

.section-content h3::before {
  content: counter(titleList, decimal) ". " /*"-"*/;
}

.section-content h3::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--gray30);
  display: block;
}

blockquote {
  font-size: 24px;
  margin: 32px 0;
  padding-left: 16px;
  line-height: 24px;
  /*border: 10px solid red;*/
  /*border-top: 10px solid pink;*/
  border-left: 4px solid var(--gray30);
}

blockquote span {
  color: var(--gray10);
}

blockquote span::before {
  content: "-";
}

/*::selection {
  background: red;
}*/

.main hr {
}

.main {
  /*border: 1px solid red;*/
}

.wrapper {
  /*border: 1px solid yellow;*/
  /*block-size: 100px;*/
  /*overflow: auto; */ /*scroll*/
  /*inline-size: 902px;*/ /*width: ;*/
  max-inline-size: 902px; /*max-width: ;*/
  margin: auto;
}

.main-content {
  /*border: 1px solid blue;*/
  padding-inline: 16px;
}

p.description {
  margin-block-end: 64px;
}

.slider {
  /*border: 1px solid red;*/
}

.slider-container {
  /*block-size: 100px;*/
  display: block;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  /*border: 1px solid purple;*/
  font-size: 0;
}

.video {
  margin: 0;
  /*border: 1px solid blue;*/
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  /*border: 1px solid yellow;*/
  text-align: center;
  margin-block-start: 10px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background: white;
  border-radius: 50%;
}

.form input {
  inline-size: 100%;
  border: 1px solid var(--gray30);
  background: #251f24;
  box-sizing: border-box;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  color: var(--gray30);
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
}

.form input[type="submit"] {
  background: #157efb;
  border: none;
}

.from input::-webkit-input-placeholder {
  color: var(--gray20);
}

footer {
  position: absolute;
  width: 100%;
  background-color: #212429;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.copyright {
  font-size: 24px;
  color: white;
  margin-block-start: 42px;
  margin-block-end: 8px;
}

footer .social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: 34px;
  margin-block-start: 0;
}

footer .social-networks img {
  margin: 11px;
}

@media screen and (min-width: 1366px) {
  .header {
    position: inherit /*sticky*/;
    inset-block-start: -45px;
  }

  .header-content {
    position: relative;
    inset-block-start: 65px;
    padding-inline: 0;
  }

  header {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -208px;
    inline-size: 188px;
  }

  header nav h2 {
    margin-block-end: 24px;
    margin-block-start: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }

  .hero {
    block-size: 350px;
  }

  h1 {
    font-size: 60px;
    margin-block-start: 64px;
  }

  p.copyright {
    font-size: 32px;
  }
}
