:root {
  font-size: 18px;
  --white30: white;
  --white20: #a5a3a5;
  --white10: #3a3539;
}

body {
  color: var(--white30);
  font-family: "Nunito", sans-serif;
  background: #251f24;
  /*font-family: charter;*/
}

a {
  color: var(--white30);
}

header {
  /*--white10: red;*/
  font-size: 14px;
  color: var(--white30);
}

header li {
  color: var(--white20);
}

header a {
  color: var(--white20);
  text-decoration: none;
}

header a:hover {
  color: var(--white30);
}

nav details summary {
  font-weight: bold;
}

/*ol li:nth-child(even) {
  border: 1px solid red;
}*/

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 60px;
  /*font-size: 3.75em;*/
}

h2 {
  font-size: 2em;
  /*font-size: 32px;*/
}

h3 {
  font-size: 1.5em;
  /*font-size: 24px;*/
}

pre {
  background: var(--white10);
}

p {
  color: var(--white20);
}

.hero {
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26a0da 102.18%);
  /*background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url("../images/patron.png");*/
  /*background-repeat: no-repeat;*/
  /*background-position: left 50px bottom -50px;*/
  /*background-size: cover;*/
  height: 350px;
}

.section-content h3 {
  counter-increment: titleList;
}

/*.section-content h3 {
  counter-reset: titleList;
}*/

.section-content h3::before {
  content: counter(titleList, decimal) /*"-"*/;
}

.section-content h3::after {
  content: "";
  width: 32px;
  height: 4px;
  background: var(--white30);
  display: inline-block;
}

/*::selection {
  background: red;
}*/
